[package]
name = "esp-mbedtls-sys"
version = "0.1.0"
edition = "2021"
links = "mbedtls"
license = "MIT OR Apache-2.0"
rust-version = "1.84"

[build-dependencies]
anyhow      = "1.0.68"
bindgen     = "0.71.1"
env_logger  = "0.10.0"
log         = "0.4.17"
cmake       = "0.1.52"
fs_extra    = "1.3.0"
embuild     = "0.33"

[dependencies]
# For malloc/free
# TODO: Replace with `esp-alloc` once `esp-alloc` starts to provide `malloc` and `free` in future
# ... or switch to our own `mbedtls_malloc/free`
esp-wifi = { version = "0.13.0", default-features = false, optional = true }

# ESP-IDF: The mbedtls lib distributed with ESP-IDF is used
[target.'cfg(target_os = "espidf")'.dependencies]
esp-idf-sys = { version = "0.36", default-features = false }

# All other platforms: mbedtls libs and bindings are created on the fly

[features]
default = []

# ESP-HAL: Exactly *one* chip MUST be selected via its feature:
esp32 = ["esp-wifi/esp32"]
esp32c3 = ["esp-wifi/esp32c3"]
esp32s2 = ["esp-wifi/esp32s2"]
esp32s3 = ["esp-wifi/esp32s3"]
