[package]
name = "esp-mbedtls"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.84"

[lib]
harness = false

[features]
default = ["edge-nal", "esp32s3"]
esp32 = ["esp-hal/esp32", "esp-mbedtls-sys/esp32"]
esp32c3 = ["esp-hal/esp32c3", "esp-mbedtls-sys/esp32c3"]
esp32c6 = ["esp-hal/esp32c6", "esp-mbedtls-sys/esp32c6"]
esp32s2 = ["esp-hal/esp32s2", "esp-mbedtls-sys/esp32s2"]
esp32s3 = ["esp-hal/esp32s3", "esp-mbedtls-sys/esp32s3"]

# Enable dependencies related to esp-hal (baremetal)
esp-hal = ["dep:esp-hal", "crypto-bigint"]

[dependencies]
esp-mbedtls-sys = { path = "../esp-mbedtls-sys" }
defmt = { version = "1", optional = true }
log = { version = "0.4", default-features = false, optional = true }
embedded-io = { version = "0.7" }
embedded-io-async = { version = "0.7" }
enumset = { version = "1", default-features = false }
rand_core = "0.9"
critical-section = "1"
edge-nal = { version = "0.6", optional = true }
digest = { version = "0.10", default-features = false }
sha1 = { version = "0.10", default-features = false }
sha2 = { version = "0.10", default-features = false }

# esp-hal
esp-hal = { version = "1", features = ["unstable"], optional = true }
crypto-bigint = { version = "0.5.3", optional = true, default-features = false, features = ["extra-sizes"] }
